.App {
  text-align: center;
  background-color: rgb(199, 230, 213);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navigation */

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(54, 30, 16);
}

.nav li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}

.nav li a{
  color: white;
  text-decoration: none;
}

.nav li:hover {
  background-color: rgb(56, 41, 33);
}

/* Draw Page */

.draw-page {
  display: flex;
}

canvas {
  border: 4px solid black;
  background-color: white;
}

canvas:hover {
  cursor: url("https://i.ibb.co/8728h8K/cursor-crosshair.png") 15 15,crosshair;
}

.toolbox {
  float: right;
  width: 512px;
}

/* Color Palette */

.palette {
  display: flex;
}

.color {
  padding: 4px;
}

.swatch {
  width: 32px;
  height: 32px;
}

.swatch:hover {
  border-radius: 20px;
}

.add-color-button {
  position: relative;
  display: block;
  color: black;
  font-size: 24px;
  font-style: bold;
  text-decoration: none;
  padding: 0px 9px;
  border: 4px solid black;
  border-radius: 20px;
  background-color: white;
  text-transform: uppercase;
  overflow: hidden;
}

.add-color-button:hover {
  color: #ff7675;
  border: 4px solid #ff7675;
}

/* Pattern Thumbnails */

.pattern-container {
  display: flex;
  flex-flow: row wrap;
}

.pattern-card {
  margin: 24px;
  width: 284px;
  height: 348px;
  background-color: white;
  border: 2px solid black;
  display: flex;
  flex-flow: column;
  /* overflow: hidden; */
}

.pattern-card p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.fav-button {
  font-size: 48px;
  position: absolute;
  margin-left: 216px;
  margin-top: 280px;
  color: rgb(255, 217, 0);
  transition: 0.1s ease-out;
}

.fav-button:hover {
  font-size: 56px;
  margin-left: 212px;
  margin-top: 276px;
}

.pattern {
  margin: 12px;
  width: 256px;
  height: 256px;
  image-rendering: pixelated;
  background-color: white;
  border: 2px solid black;
  transition: 0.1s ease-out;
}

.pattern:hover {
  margin: 10px;
  border: 4px solid black;
}